.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.clickable {
  cursor: pointer;
  font-size: 24px;
}

input {
  margin: 5px;
  padding: 5px;
}

button {
  margin: 5px;
  padding: 5px 15px;
}

ul,
ol {
  list-style-type: none;
  padding: 0px;
}

li {
  text-align: left;
  font-size: 20px;
  padding: 5px;
  margin: 5px 20px;
  border: solid 2px lightgray;
  border-radius: 5px;
}

.ClassA {
  font-size: 20px;
  font-weight: normal;
  border: solid 2px lightblue;
  padding: 10px;
  margin: 10px 50px;
}

.ClassB {
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: darkblue;
  padding: 12px;
  margin: 10px 50px;
}